@charset "UTF-8";
/* --------------------------------
 * colors
 * -------------------------------- */

 :root{
   --color-point: #E8CA3D;
   --color-point2: #855A34;
   --color-dark: #A1A884;
   --color-light: #FFCCB1;
   --color-text1: #000;
   --color-text2: #fff;
   }
   